<div class="container" id="consumeMain" ng-controller="ConeditCtrl">
  <form class="form-horizontal">
    <div class="col-xs-8 col-xs-offset-2">
      <div class="form-group">
        <div class="input-group">
          <div class="input-group-addon">用户</div>
          <select class="form-control" title="user" ng-model="form.user">
            <option>罗孟龙</option>
            <option>张军伟</option>
            <option>唐兴</option>
            <option>段文炜</option>
            <option>郑王龙</option>
            <option>张志辉</option>
          </select>
        </div>
      </div>
    </div>
    <div class="col-xs-8 col-xs-offset-2">
      <div class="form-group">
        <div class="input-group">
          <div class="input-group-addon">价格</div>
          <input type="number" class="form-control" ng-model="form.price" step="0.01" placeholder="请输入价格..." required>
        </div>
      </div>
    </div>
    <div class="col-xs-8 col-xs-offset-2">
      <div class="form-group">
        <div class="input-group">
          <div class="input-group-addon">用途</div>
          <input type="text" class="form-control" ng-model="form.usage" placeholder="请输入用途..." required>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="col-xs-offset-2 col-xs-4">
        <input type="button" class="btn btn-primary" ng-click="submit()" value="更新">
      </div>
      <div class="col-xs-4">
        <input type="button" class="btn btn-default" ui-sref="index" value="取消">
      </div>
    </div>
  </form>
</div>
