<div class="col-md-12" id="indexMain" ng-controller="IndexCtrl">
  <form class="form-horizontal">
    <div class="col-xs-6 col-xs-offset-3">
      <div class="form-group">
        <div class="input-group">
          <div class="input-group-addon">开始时间</div>
          <input type="date" class="form-control" name="startTime" title="开始时间" ng-model="startTime">
        </div>
      </div>
    </div>
    <div class="col-xs-6 col-xs-offset-3">
      <div class="form-group">
        <div class="input-group">
          <div class="input-group-addon">结束时间</div>
          <input type="date" class="form-control" name="endTime" title="结束时间" ng-model="endTime">
        </div>
      </div>
    </div>
    <div class="col-xs-6 col-xs-offset-3">
      <div class="form-group">
        <input type="button" class="btn btn-primary" value="查询" ng-click="search()">
      </div>
    </div>
    <div class="col-xs-6 col-xs-offset-3 MyGroup">
      <div class="btn-group" role="group">
        <input type="button" class="btn btn-warning" value="支出" ui-sref="consume">
        <input type="button" class="btn btn-success" value="收入" ui-sref="income">
      </div>
    </div>
  </form>
</div>
